@model ShopManagementSystem.Models.Login

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Email" class="lock" placeholder="Email" required="">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityQuestion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecurityQuestion", new List<SelectListItem>
               {
                   new SelectListItem{ Text="Nickname",Value="Nickname",Selected=true},
                   new SelectListItem{ Text="Hobby",Value="Hobby"},
                   new SelectListItem{ Text="CNIC last 3 digit",Value="Last 3 digit of your CNIC"}
               }, "Select any question:")
                @Html.ValidationMessageFor(model => model.SecurityQuestion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.SecurityAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="SecurityAnswer" class="lock" placeholder="Security Answer" required="">
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="Password" class="lock" placeholder="New Password" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default" />
            </div>
        </div>
        </div>
        }


        <div>
            @Html.ActionLink("Back to Login", "view")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>


}