@model IEnumerable<ShopManagementSystem.Models.Category>

@{
    ViewBag.Title = "CategoryIndex";
}

<h2>Categories!!</h2>

<p>
    @Html.ActionLink("Add a new category", "Category") |
    @Html.ActionLink("Back to your shop", "Details", new { id = (Convert.ToInt32(@ViewData["personshop"])) })


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Items", "ItemIndex", new { id = item.Id }) |
            @Html.ActionLink("Edit", "CategoryEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "CategoryDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
