@model ItemPicture

@{
    ViewBag.Title = "ItemDelete";
}

<h2>Item Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Price)
        </dd>
    </dl>
    @foreach (var item in Model.picturelist)
    {
        <tr>
            @{
        String img64 = Convert.ToBase64String(item.picture1);
        String img64Url = string.Format("data:image/" + item.picture1 + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
            }
            <img src="@img64Url" imagealign="right" widht="200" height="200 " />

        </tr>
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Item List", "ItemIndex", new { id = Model.item.CategoryId })
        </div>
    }
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Message");
                        };
    </script>


}
