@model Shoppack

@{
    ViewBag.Title = "Home Page";
}



<!DOCTYPE html>


@Html.ActionLink("Your Profile", "profile", new { id = Model.customer.LoginId }) |
@Html.ActionLink("Wish List", "savelist", new { id = Model.customer.LoginId }) |
@Html.ActionLink("Shopping Cart","cartlist") |
@Html.ActionLink("Log out","Index","Home")

<h3 class="w3ls-title">Categories List: </h3>
<menu>
    @foreach (var s in Model.categorylist)
    {

        <div class="col-md-2 focus-grid w3focus-grid-mdl">
            @Html.ActionLink(s.Name, "Categories", new { id = s.Id })
        </div>
    }
</menu>
<br />
<hr />
<h3 class="w3ls-title">Products in our Smart Bazaar: </h3>


<div style="display: inline-block">

    @foreach (var a in Model.itemlist)
    {

        <h4>
            <div style="display: inline-block">
                <dt>
                    @Html.DisplayFor(modelItem => a.Name)
                </dt>

                @Html.ActionLink("Details", "ItemDetails", new { id = a.Id }) |


                @Html.ActionLink("Shopping Cart", "view") |

                @Html.ActionLink("Save", "wishlist",new {id=Convert.ToInt32(@ViewData["login"]),itemid=a.Id})
            </div>

            @foreach (var p in Model.picturelist.Where(x => x.ItemID == a.Id))
            {
                <picture>

                    @{

                String img64 = Convert.ToBase64String(p.picture1);
                String img64Url = string.Format("data:image/" + p.picture1 + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                    }
                    <img src="@img64Url" imagealign="right" widht="150" height="150 " />
                </picture>


            }


        </h4>
    }

</div>
<hr />


<!-- deals -->
<div class="deals">
    <div class="container">
        <h3 class="w3ls-title">DEALS OF THE DAY! </h3>
        <div class="deals-row">
            <div class="col-md-3 focus-grid">
                <a href="products.html" class="wthree-btn">
                    <div class="focus-image"><i class="fa fa-mobile"></i></div>
                    <h4 class="clrchg">Mobiles</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products.html" class="wthree-btn wthree1">
                    <div class="focus-image"><i class="fa fa-laptop"></i></div>
                    <h4 class="clrchg"> Electronics & Appliances</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products4.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                    <h4 class="clrchg">Furnitures</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products3.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-home"></i></div>
                    <h4 class="clrchg">Home Decor</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products9.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-book"></i></div>
                    <h4 class="clrchg">Books & Music</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products1.html" class="wthree-btn wthree4">
                    <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                    <h4 class="clrchg">Fashion</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products2.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                    <h4 class="clrchg">Kids</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products5.html" class="wthree-btn wthree">
                    <div class="focus-image"><i class="fa fa-shopping-basket"></i></div>
                    <h4 class="clrchg">Groceries</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products7.html" class="wthree-btn wthree5">
                    <div class="focus-image"><i class="fa fa-medkit"></i></div>
                    <h4 class="clrchg">Health</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products8.html" class="wthree-btn wthree1">
                    <div class="focus-image"><i class="fa fa-car"></i></div>
                    <h4 class="clrchg">Automotive</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products5.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-cutlery"></i></div>
                    <h4 class="clrchg">Food</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products4.html" class="wthree-btn wthree5">
                    <div class="focus-image"><i class="fa fa-futbol-o"></i></div>
                    <h4 class="clrchg">Sports</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products2.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                    <h4 class="clrchg">Games & Toys</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products6.html" class="wthree-btn ">
                    <div class="focus-image"><i class="fa fa-gift"></i></div>
                    <h4 class="clrchg">Gifts</h4>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //deals -->
<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">
            <div class="col-md-4 ftr-top-grids">
                <div class="ftr-top-left">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>FREE DELIVERY</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 ftr-top-grids">
                <div class="ftr-top-left">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 ftr-top-grids">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //footer-top -->
<div class="copy-right">
    <div class="container">
        <p>© 2018 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
    </div>
</div>
<!-- cart-js -->
<script src="js/minicart.js"></script>
<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
</script>
<!-- //cart-js -->
<!-- countdown.js -->
<script src="js/jquery.knob.js"></script>
<script src="js/jquery.throttle.js"></script>
<script src="js/jquery.classycountdown.js"></script>
<script>
        $(document).ready(function () {
            $('#countdown1').ClassyCountdown({
                end: '1388268325',
                now: '1387999995',
                labels: true,
                style: {
                    element: "",
                    textResponsive: .5,
                    days: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#1abc9c",
                            lineCap: 'round'
                        },
                        textCSS: 'font-weight:300; color:#fff;'
                    },
                    hours: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#05BEF6",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    minutes: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#8e44ad",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    seconds: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#f39c12",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    }

                },
                onEndCallback: function () {
                    console.log("Time out!");
                }
            });
        });
</script>
<!-- //countdown.js -->
<!-- menu js aim -->
<script src="js/jquery.menu-aim.js"> </script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<!-- //menu js aim -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

    </body>
    </html>
