@model IEnumerable<ShopManagementSystem.Models.Package>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExtraPackage</title>
</head>
<body>
    <h4>Step2:- Buy an extra Package</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Buy", "Package", new { @id3 = @ViewData["Id1"], @id4 = @ViewData["Id2"], @id5 = item.Id })

            </td>
        </tr>
    }
    
    </table>
    
    <div>
        @Html.ActionLink("Skip 2nd step","Package", new { @id3 = @ViewData["Id1"], @id4 = @ViewData["Id2"] })

    </div>
    @Html.ActionLink("Back to 1st Step ", "Index")

</body>
</html>
